<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h1>Welcome to Hydra</h1>
            <p>
              Hydra is a very simple product management application for creating and managing Products, User Personas, and User Stories. Hydra uses a <em>very</em> basic formula for calculating priorities. User stories can be created, assigned to products and personas and eventually marked as complete. Prioritizaiton is managed automatically by multiplying <em>effort</em> nd <em>impact</em>. 
            </p>
        </div>
    </div>
</div>
