<div class="row">
  <div class="col-lg-6 col-lg-offset-3">
		<h1><%= @story.name %></h1>
		<h2><small>Editing User Story</small></h2>
		<hr/>
		<%= render 'form' %>

		<%= link_to 'Show', @story %> |
		<%= link_to 'Back', stories_path %>
	</div>
</div>