<div class="row">
  <div class="col-lg-6 col-lg-offset-3">
		<h1><%= @persona.name %> <small>Editing</small></h1>

		<%= render 'form' %>

		<%#= link_to 'Show', @persona %>
		<%#= link_to 'Back', personas_path %>
	</div>
</div>