<div class="row">
	<div class="col-lg-6 col-lg-offset-3">
		<h1>Editing <%= @product.name %></h1>

		<%= render 'form' %>

		<%#= link_to 'Show', @product %>
		<%#= link_to 'Back', products_path %>
	</div>
</div>